* {
	font-family: 'Quicksand', sans-serif;
}



body {
	background-color: #2b2e68;
}

#topbar+.container {
	background-color: white;
	padding-top: 12vh;
	padding-bottom: 6vh;
}

#topbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: white;
	box-shadow: 0 0 1vh 0px rgba(0, 0, 0, .4);
}

#logo {
	padding: 1.6vh;
	text-align: center;
	width: 10vh;
	height: 10vh;
}

#logo>img {
	width: 100%;
	height: 100%;
	transition: all .2s ease;
}

#logo>img:hover {
	transform: rotate(60deg);
}

#bottombar {
	width: 100%;
	border-width: 6px 0 0 0;
	border-style: solid;
	border-color: black;
	margin-top: 30px;
}

.icon-bar {
	background-color: black;
}

@media (min-width: 768px) {
	.collapse>.nav {
		position: absolute;
		right: 5%;
		bottom: 20%;
	}
}

.navbar-nav>li>a {
	color: black;
	padding: 1.6vh 1.2vh 1.6vh 1.2vh;
	font-size: 2vh;
	transition: all .15s ease;
}

.navbar-nav>li.active>a {
	transition: all .15s ease;
	color: white;
	background-color: #2b2e68
}

#active-page {
	background-color: #DDDDDD;
}

#p1 {
	text-align: center;
}

footer {
	padding: 3% 0 6% 0;
	display: inline-block;
	text-align: center;
}

footer a>img {
	width: 100%;
}

.navbar-toggle {
	width: 6.4vh;
	margin: 1.6vh;
}

.navbar-toggle .icon-bar {
	width: 4vh;
	height: .4vh;
	margin: .8vh;
}

#title {
	margin: 5vh auto; // font-size: 80px;
	text-align: center;
}

@media (min-width: 768px) {
	#title {
		font-size: 6vh;
	}
}

.navbar-right * {
	//font-weight: .1;
}

.container div {
	font-size: 2.1vh;
	line-height: 200%;
}


#bigTitle {
	text-align: center;
	padding-top: 4vh;
	font-size: 7vh;
	font-family: 'Poppins', sans-serif;
}

#home1 h2 {
	color: #2b2e68;
}

.contact-icon {
	width: 16vh;
	transition: all .15s ease;
}

.centered-contents {
	text-align: center;
}

h1 {
	font-size: 6.4vh;
	margin: 1vh;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

#contact1 button,
#edusite,
#training1 button {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
	font-size: 2.4vh;
	background-color: #2b2e68;
	color: white;
	padding: 1.2vh;
	border: none;
	transition: all .15s ease;
}

#contact1 div {
	padding: 4vh;
}

#contact1 button:hover,
#training1 button:hover,
#inTheLoop:hover,
#playground:hover,
#inTheLoop:focus,
#playground:focus,
#edusite:hover,
#edusite:focus {
	box-shadow: 0 0 2vh 0 rgba(0, 0, 0, .4);
	background-color: #303475;
	transform: scale(1.05, 1.05);
	text-decoration: none;
}

#contact1 img:hover {
	transform: scale(1.05, 1.05)
}

#anim {
	height: 30%;
	padding: 0;
	margin-top: 5%;
}

footer {
	height: 12vh;
	width: 100%;
}

.person {
	text-align: center;
	padding: 6vh;
}

.person img {
	max-width: 40vh;
	width: 100%;
	border-radius: 100%;
	background-color: #2b2e68;
	border: 10px solid #2b2e68;
}

#eboard-div .person {
	font-size: 2vh;
}

.project-icon {
	padding: 2vh;
	padding-top: 6vh;
	text-align: center;
}

.project-icon img {
	max-width: 30vh;
	width: 100%;
	border-radius: 100%;
	background-color: #2b2e68;
	border: 1vh solid #2b2e68;
}

.project-descrip {
	padding: 2vh;
}

.project-descrip p {
	margin-top: 2vh; //text-indent: 8vh;
}

#training1 img {
	padding: 0;
	box-shadow: 0 0 2vh 0 rgba(0, 0, 0, .2)
}

#training1 {
	text-align: center;
}

#training1 button {
	width: 100%;
}

.bannerTitle {
	height: 30vh;
	line-height: 10vh;
	padding-top: 17vh;
	padding-left: 4vh;
	text-align: left;
	background-position: center;
	background-size: cover;
	color: white;
	font-size: 5.2vh;
	box-shadow: 0 0 2vh 0 rgba(0, 0, 0, .2)
}

.bannerTitle span,
#training1 h2 {
	background-color: #2b2e68;
	padding: 1vh;
	color: white;
}

#training1 h2 {
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 2vh;
}

a.anchor {
	display: block;
	position: relative;
	top: -10vh;
	visibility: hidden;
}


#trainingFaq {
	background-image: url("../img/training.jpg");
}

#homeTitle1 {
	background-image: url("../img/education.jpg");
}

#homeTitle2 {
	background-image: url("../img/experience.jpg");
}

#homeTitle3 {
	background-image: url("../img/exposure.jpg");
}

#home1 div {
	font-size: 2.4vh;
}

#inTheLoop,
#playground {
	box-shadow: 0 0 2vh 0 rgba(0, 0, 0, .4);
	display: inline-block;
	padding: 1vh 2vh 1vh 2vh;
	color: white;
	background-color: #2b2e68;
	font-weight: bold;
	transition: all .15s ease;
}

.project-term {
	text-align: center;
}

#modal * {
	border-radius: 0;
	font-size: 2vh;
}

#modal .btn-primary {
	background-color: #2b2e68
}

.modal-title {
	display: inline-block;
}

.form-control {
	height: auto;
}

#home1 h2 {
	color: black;
	margin: 3vh;
}

#home1 input {
	border-radius: 0;
}

.navbar {
	margin-bottom: 0;
}

#contact1 a,
#contact1 a:focus,
#contact1 a:hover,
#training1 a,
#training1 a:focus,
#training1 a:hover {
	text-decoration: none;
	outline: none;
}

h2 {
	font-size: 3vh;
}

h3 {
	font-size: 2.5vh;
}

#edubar a {
	padding: 0;
}

.navbar-right .dropdown-menu {
	left: 0;
	border-radius: 0;
	border: 0;
	font-size: 2vh;
}

#core-div h2 {
	text-align: center;
}